/* Generic */
html, body{ width: 100%; margin: 0; padding: 0;}

body{
  background-color: #eee;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
#profile-image img{
  width: 200px;
  float: left;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
}
h1{
  font-size: 30px;
}
h3{
  font-size: 20px;
  margin-top: -25px;
}
h1, h3{
  font-weight: bolder;
  color: #2e2e2e;
}
.list span{
  font-weight: bolder;
  color: #000000;
  font-size: 18px;
}
#back-to-top{
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: tomato;
}

/* Containers */
#menu{
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  font-size: 20px;
  background-color: rgba(56, 56, 56, 0.95);
}
#menu ul{
  padding: 2px 0px 5px 0px;
}
#menu ul li{
  display: inline;
  padding: 0px 15px 0px 15px;
}
#container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 95px;
  width:800px;
}
#education{
  display: block;
  width: 63%;
  clear: both;
  float: left;
  padding-right: 2%;
}
#skills{
  display: block;
  width: 33%;
  float: right;
  padding-left: 2%;
}
#experience{
  clear: both;
}

#projects{
  clear: both;
}
#footer {
  display: block;
  bottom: 0;
  color: #949494;
  margin-bottom: -30px;
  text-align: center;
  margin-top: 70px;
}

#footer ul{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 0px 5px 0px;
}

#footer ul li{
	display: inline;
	padding: 0px 2px 0px 2px;
}

/* Links */
#footer ul li a:link, #footer ul li a:visited, #footer ul li a:active,
#back-to-top a:link, #back-to-top a:visited, #back-to-top a:active{
	color: #949494;
  text-decoration: none;
}
#footer ul li a:hover, #back-to-top a:hover{
  color: #505050;
  text-decoration: none;
}

#menu ul li a:link, #menu ul li a:visited, #menu ul li a:hover,
#menu ul li a:active {
    color: #e2e2e2;
    text-decoration: none;
}
#menu ul li a:hover{
  color: #bababa;
}
