body{
  background-color: rgb(238, 238, 238);
  font-family: 'Ubuntu', sans-serif;
}

#menu{
  width: 100%;
  position: sticky;
  top: 0;
  margin-top: -30px;
  text-align: center;
  font-size: 30px;
  background-color: rgba(56, 56, 56, 0.95);
}
#menu ul{
  padding: 2px 0px 5px 0px;
}
#menu ul li{
  display: inline;
  padding: 0px 2px 0px 2px;
}

#menu ul li a:link, #menu ul li a:visited, #menu ul li a:hover, #menu ul li a:active {
    color: rgb(226, 226, 226);
    text-decoration: none;
}
#menu ul li a:hover{
  color: rgb(186, 186, 186);
}

#container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:600px;
}

#profile-image img{
  width: 175px;
  float: left;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
}

#title{
  font-size: 30px;
}

#subtitle{
  font-size: 20px;
  margin-top: -25px;
}

#title, #subtitle{
  font-weight: bolder;
  color: rgb(46, 46, 46);
}

#education, #skills{
  display: block;
  width: 46%;
}

#education{
  float: left;
  padding-right: 2%;
}
#skills{
  float: right;
  padding-left: 2%;
}

.list span{
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

#footer{
	position:absolute;
	bottom:10px;
}
